body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: #2b2b2b;
}
.navbar {
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5vh;
    border-radius: 9px;
}

.navbar-logo {
    
    margin-right: 10px;
}

.navbar-title {
    font-size: 20px;
    font-weight: bold;
}

.resume-builder {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
 

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form{
    max-width: 585px;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resume-output {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
   
}
